.tacbox {
  display: block;
  padding: 11em;
  margin: 21em;
  border: 30px solid #ff0000;
  background-color: #4e1111;
  max-width: 800px;
  text-emphasis-color: #00bb00;
  background-color: #00bb00;
}

input {
  height: 2em;
  width: 2em; 
  vertical-align: middle;
}

label {
  /* Other styling... */
  text-align: right;
  clear: both;
  float:left;
  margin-right:15px;
}