<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    {% load static %}
    <link href="../static/css/base.css" rel="stylesheet" type="text/css" />
    <title>{% block title %}SoundSync{% endblock %}</title>
  </head>
  <body>
    <div class="header">
      <div class="big-heading">SoundSync</div>
      <img
        src="../../static/logo.png"
        alt="page {{ forloop.counter }}"
        width="200"
        height="100"
      />
      <div class="navbar">
        <div class="navbar-links">
          <a href="{% url 'consent' %}">Start </a>
          <a href="{% url 'calibrate' %}">Calibrate </a>
          <a href="{% url 'upload' %}">Upload </a>
          <a href="{% url 'play' %}">Play </a>
        </div>
      </div>
    </div>
    <div class="content">{% block content %} {% endblock %}</div>
  </body>
</html>

<!--   →  ↺   -->
