{% extends "app/base.html" %} {% block content %}

<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  {% load static %}
  <link href="../static/css/base.css" rel="stylesheet" type="text/css" />
  <title>{% block title %}Calibration{% endblock %}</title>

  <body>
    <div class="box">
      <div style="margin: 15px 15px 15px 15px">
        Setup the Tobii Eye Tracker 5 and calibrate your eyes now. Plug in the
        Tobii Eye Tracker. If the installation doesn't begin, follow
        <a
          href="https://apps.microsoft.com/detail/tobii-experience/9NK75KF67S2N?hl=en-US&gl=US"
          target="_blank"
        >
          this link</a
        >. Download the Tobii Experience App for Windows and follow directions.
        Proceed to next page once the tracker is set up and after eye
        calibration.
      </div>

      <div>
        <a class="button" href="{% url 'upload-pdf' %}">Next page</a>
      </div>
    </div>
  </body>
</head>
{% endblock %}
