{% extends "app/base.html" %} {% block content %} {% load static %}
<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  {% load static %}
  <link href="../static/css/base.css" rel="stylesheet" type="text/css" />
  <title>{% block title %}Play{% endblock %}</title>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"
    defer
  ></script>
  <script src="../../static/script.js" defer></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
  <div
    class="cursor"
    id="cursor"
    style="
      position: absolute;
      top: 66.4%;
      left: 32.5%;
      right: 0;
      bottom: 0;
      z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
      width: 3px;
      height: 50px;
      background: rgb(255, 77, 122);
    "
  ></div>

  <div class="pages" style="display: flex">
    <button
      type="submit"
      value="Turn page backward"
      onclick="location.href='{% url 'backwardPageFlip' %}'"
      name="mybtn3"
      style="height: 50px; width: 80px"
    >
      Turn Page Backward
    </button>

    <img
      id="pageDisplayed"
      class="page"
      src="{% static '/' %}{{ image }}{{ page_number }}.jpg"
      alt="page {{ forloop.counter }}"
      width="600"
      height="800"
    />

    <button
      id="forward"
      type="submit"
      value="Turn page forward"
      onclick="location.href='{% url 'forwardPageFlip' %}'"
      name="mybtn2"
      style="height: 50px; width: 80px"
    >
      Turn Page Forward
    </button>
  </div>
  
  <button
    type="submit"
    value="Backend"
    onclick="location.href='{% url 'backend' %}'"
    name="mybtn2"
    style="height: 50px; width: 80px"
  >
    Trigger Backend
  </button>

  <h4>Dynamic Update</h4>

  <div id="variable-container">here here</div>

  <script type="text/javascript">
    // Function to fetch and update the variable
    // Adjust to your screen, Sanjana's settings
    // First Page Only
    const line_height_1 = 78;
    {% comment %} const first_col_offset_1 = 150;
    const first_row_offset_1 = 200; {% endcomment %}
    const screen_width = 505;
    const bar_width = 125;
    var bar = 0;
    var row = 0;
    // All other pages
    const line_height = 86.5;
    const first_col_offset = 150;
    const first_row_offset = 190;

    function updateVariable() {
      // Use jQuery to make an AJAX request
      $.ajax({
        url: "get-var",
        method: "GET",
        success: function (data) {
          // Update the content of the #variable-container div
          $("#variable-container").text(data.absBeatNum);

          // Update the left position of the cursor based on the received variable
          var cursor = document.getElementById("cursor");
          var value = parseFloat(data.my_variable) + first_col_offset; // Adjust the offset as needed
          row = parseFloat(data.row);
          bar = parseFloat(data.bar);

          // math
          cursor.style.left =
            ((bar * bar_width) % screen_width) + first_col_offset + "px";
          cursor.style.top = row * line_height + first_row_offset + "px";

          // update page

          var pageNumber = data.page_number;
          //if (pageNumber == 1) {
          //  cursor.style.left =
          //    ((bar * bar_width) % screen_width) + first_col_offset_1 + "px";
          //  cursor.style.top = row * line_height_1 + first_row_offset_1 + "px";
         // } else {
         //   cursor.style.left =
         //     ((bar * bar_width) % screen_width) + first_col_offset + "px";
         //   cursor.style.top = row * line_height + first_row_offset + "px";
         // }
          cursor.style.left =
          ((bar * bar_width) % screen_width) + first_col_offset + "px";
          cursor.style.top = row * line_height + first_row_offset + "px";

          var imageElement = document.getElementById("pageDisplayed");
          console.log(data.page_number, pageNumber);
          
          console.log("{% static '/' %}{{ image }}" + pageNumber + ".jpg");
          imageElement.src =
          //"{% static '/' %}}" +'page' + pageNumber + ".jpg";

          "{% static '/' %}{{ image }}" + pageNumber + ".jpg";
        },
      });
    }
    // Call the updateVariable function every 50 milliseconds
    setInterval(updateVariable, 50);
  </script>
</body>

{% endblock %}
