{% extends "app/base.html" %} {% block content %} {% load static %}
<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  {% load static %}
  <link href="../static/css/base.css" rel="stylesheet" type="text/css" />
  <title>{% block title %}Play{% endblock %}</title>
</head>
<body>
  <div class="box">
    <img
      src="../../app/static/out0.jpg"
      alt="page {{ forloop.counter }}"
      width="400"
      height="600"
    />

    <embed
      src="{{ pdf_file.pdf_file.url }}"
      type="application/pdf"
      accept="application/pdf"
      height="800px"
      frameBorder="0"
      scrolling="auto"
      height="100%"
      width="100%"
    />
  </div>
</body>

{% endblock %}
