{% extends "app/base.html" %} {% block content %} {% load static %}
<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  {% load static %}
  <link href="../static/css/base.css" rel="stylesheet" type="text/css" />
  <title>{% block title %}Play{% endblock %}</title>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"
    defer
  ></script>
  <script src="../../static/script.js" defer></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
  <div
    class="cursor"
    id="cursor"
    style="
      position: absolute;
      top: 36.4%;
      left: 32.5%;
      right: 0;
      bottom: 0;
      z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
      width: 3px;
      height: 50px;
      background: rgb(255, 77, 122);
    "
  ></div>

  <div id="user-hello"></div>

  {{ room_name|json_script:"room-name"}}
 

  <div class="pages" style="display: flex">
    <button
      type="submit"
      value="Turn page backward"
      onclick="location.href='{% url 'backwardPageFlip' %}'"
      name="mybtn3"
      style="height: 50px; width: 80px"
    >
      Turn Page Backward
    </button>

    <img
      class="page"
      src="{% static '/' %}{{ image }}{{ page_number }}.jpg"
      alt="page {{ forloop.counter }}"
      width="600"
      height="800"
    />

    <button
      id="forward"
      type="submit"
      value="Turn page forward"
      onclick="location.href='{% url 'forwardPageFlip' %}'"
      name="mybtn2"
      style="height: 50px; width: 80px"
    >
      Turn Page Forward
    </button>
  </div>
  <button
    type="submit"
    value="Backend"
    onclick="location.href='{% url 'backend' %}'"
    name="mybtn2"
    style="height: 50px; width: 80px"
  >
    Trigger Backend
  </button>

  <h4>Dynamic Update</h4>

  <div id="variable-container"></div>

  <script type="text/javascript">
      // Function to fetch and update the variable
      function updateVariable() {
          // Use jQuery to make an AJAX request
          $.ajax({
              url: 'get-var',
              method: 'GET',
              success: function(data) {
                  // Update the content of the #variable-container div
                  $('#variable-container').text(data.my_variable);
              }
          });
      }

      // Call the updateVariable function every 200 milliseconds
      setInterval(updateVariable, 50);
  </script>

</body>

{% endblock %}
