{% extends "app/base.html" %} {% block content %}

<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  {% load static %}
  <link href="../static/css/base.css" rel="stylesheet" type="text/css" />
  <title>{% block title %}Upload{% endblock %}</title>
</head>


<body>
  <div class="box">
    <h2>File Upload and Instrument Selection</h2>

    <div class="error">{{message}}</div>

    <form
      enctype="multipart/form-data"
      action="{% url 'upload-pdf' %}"
      method="post"
      class="add-form"
    >
      <div>
        Fill out the following fields
        <p>
          Please upload a PDF, MIDI file, choose your
          instrument, and Click Submit
        </p>
      </div>
      <table>
        {% for field in uploadForm.visible_fields %}
        <tr>
          
          <td>
            <div id="{{field.name}}_box"> {{field}} </div>
            <div id="{{field.name}}_text"> {{field.name | upper}} </div>
            

          </td>
          
          

          <td> </td>
          
          <td class="error">
            {% for error in field.errors %} {{error}} {% endfor %}
          </td>
        </tr>
        {% endfor %}
        <tr>
          <td colspan="3"><input id="submit-button" type="submit" value="Submit" /></td>
        </tr>
      </table>
      {% csrf_token %}
    </form>

    

    <div id="buttoner">
      <a class="button" href="{% url 'play' %}">Next Page</a>
    </div>
  </div>
</body>
{% endblock %}
