{% extends "base.html" %} {% block content %}

<!DOCTYPE html>
<head>
  <title>Upload</title>
  <body>
    <h1>File Upload and Instrument Selection</h1>
    <div>
      <label for="instruments">Choose your instrument:</label>

      <select name="instruments" id="instruments">
        <option value="none" selected disabled hidden>Select an Option</option>
        <option value="violin">Violin</option>
        <option value="viola">Viola</option>
        <option value="cello">Cello</option>
        <option value="flute">Flute</option>
        <option value="oboe">Oboe</option>
        <option value="clarinet">Clarinet</option>
        <option value="trumpet">Trumpet</option>
        <option value="bassoon">Bassoon</option>
        <option value="trombone">Trombone</option>
        <option value="tuba">Tuba</option>
      </select>
    </div>

    <div>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="file">Select a File</label>
        <input id="file" name="file" type="file" />
        <button>Upload</button>
      </form>
    </div>

    <div>
      <a href="{% url 'calibrate' %}">Next Page</a>
    </div>
  </body>
</head>
{% endblock %}
